<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Weather App</title>
</head>
<style>
    * {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: grey;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        letter-spacing: 4px;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .main-part {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    h1 {
        color: black;
        font-size: 56px;
    }
    p{
        margin-top:10px;
    }

    .footer {
        color:  black;
    }
</style>

<body>

    <div class="container">

        <div class="main-part">

            <h1>INVALID CITY NAME</h1>

        </div>
        <div class="footer">
            <h5>Made by Pawan Raj</h5>
        </div>

    </div>


</body>

</html>
